 /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
.header {
    display: flex;
    font-size: relative-size;
    background-color: #4F3B3B;
}

.header h1 {
  text-align: center;
  justify-content: flex-end;
}

.main content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.box {
  width: max-content;
  height: auto;
  margin: 5px 10px;
}

.image {
  position: relative;
  top: 0;
  left: 0;
}
.image image1 {
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid #B4B4B4;
} 
.image image2 {
  position: absolute;
  top: 30px;
  left: 30px;
  border: 1px solid #000000;
}  

.aside {
  background-color: #c2bbbb;
display: flex;
flex-direction: column;
font-size: 20px;
}

.column {
    float: left;
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;
  }
  
  /* Middle column */
  .column.middle {
    width: 50%;
  }
.container {
    display: flex;
    justify-content: flex-end;
}

/* Create three equal columns that float next to each other */
.column {
    float: left;
    width: auto;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.desktop, .print {
      display:none;
  }

.mobile, .desktop {
      display: none;
  }
.print {
      display: block;
  }
 @media screen and (min-width: 768px) {
.mobile {
         display: none;
     }
.desktop {
         display: block;
     }
}
      
