html, body{
  margin: 0px;
  padding: 0px;
  border: 0px;
  left: 0px;
  top: 0px;
}

body {
  display: grid;
}

/*font styles*/
font {
  font-family: 'Amiri', serif;
}

p, li{
  font: 1em 'Amiri', serif;
}

h1 {
  font: 2em 'Amiri', serif;
  font-weight: 700;
}

h2 {
    font: 1.5em 'Amiri', serif;
    font-weight: bold;
  }

h3 {
    font: 1.25em 'Amiri', serif;
    font-weight: bold;
}

h4 {
  font: 1em 'Amiri', serif;
}
h5 {
  font: 0.5em 'Amiri', serif;
}

/* Link styles*/
a:link {
  font-family: 'Amiri', serif;
  color: #000;
  text-decoration: underline;
}
a:visited {
  color: #808080;
}
a:hover {
  color:whitesmoke;
}

/*nav styles*/
 header #navLinks {
  width: auto;
  margin-right: 10px;
  color: #000111;
  background-color: #4f3b3b;
}

#navLinks ul {
    list-style: none;
}

/*header styles*/
.header {
  background-color: #4f3b3b;
  color: #b4b4b4;
  margin-left: 5px;
  width: 100%;
  }

header  logo{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row: 1;
}

header navLinks {
  display: grid;
  grid-column-start: -3;
  grid-column-end: -1;
  grid-row: 1;
}




/*footer styles*/
.footer content{
  background-color: #4f3b3b;
  clear:both;
  color: #b4b4b4;
  font-size: 75em;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 769px) {
  body {
    grid: "header navLinks" 5em
          "main gallery" 30em
          "footer footer" 5em / 
          1fr 2fr;
  }
}
  
@media only screen and (max-width: 480px) {
  body{
    grid: "header" 5em
          "toggle-button" 5em
          "main" 20em
          "gallery" 20em
          "footer" 5em /
          1fr;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    grid: "header"5em
          "navLinks" 5em
          "main gallery" 30em
          "footer footer" 5em
  }
}
